version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout

  deploy:
    docker:
      - image: google/cloud-sdk
    steps:
      - run:
          name: Deploy to GCS
          command: |
            gcloud config set project searce-playground-v1
            # gcloud auth application-default login 
            # gsutil -m cp -r ./directory_name/* gs://bucket_name/
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
